@page

<h1>About This Application</h1>

<p>
	Welcome to the Real-Time Visualization and Obstacle Detection System for the National Railways of Zimbabwe (NRZ).
	This web application is designed to enhance the safety, efficiency, and operational effectiveness of railway transport
	in Zimbabwe through the integration of advanced technologies such as Geographic Information Systems (GIS) and
	Artificial Intelligence (AI).
</p>

<h2>Purpose</h2>
<p>
	The primary aim of this application is for real-time monitoring of trains operations. Provideing real-time visualization
	of train locations, automated obstacle detection, and facilitating timely alerts for wagon detachments. By leveraging
	geo-intelligence, we aim to tackle critical challenges faced by the NRZ, ensuring safer and more reliable rail operations
	in Zimbabwe.
</p>

<h2>Key Features</h2>
<ul>
	<li><strong>Real-Time Tracking:</strong> Monitor train positions and estimated times of arrival (ETAs) using interactive maps.</li>
	<li>
		<strong>Obstacle Detection:</strong> Automatically detect obstacles on railway tracks and alert operators for immediate action,
		enhancing safety for both the onboard and offboard.
	</li>
	<li>
		<strong>Automated Alerts:</strong> Receive timely notifications for incidents such as wagon detachments, preventing accidents
		and delays.
	</li>
</ul>

<h2>Background</h2>
<p>
	The National Railways of Zimbabwe (NRZ) is the largest railway operator in Zimbabwe, providing essential transportation services
	for passengers and freight across the country. With a rich history dating back to the colonial era, the NRZ plays a vital role in
	supporting the economy and connecting various regions within Zimbabwe and beyond.
</p>

<h3>Vision</h3>
<p>
	To be a dominant regional transport logistics solutions provider.
</p>
<h3>Mission</h3>
<p>
	To promote the transformation of the regional economy through provision of innovative, seamless, reliable and cost effective
	logistics solutions for goods and passengers.
</p>

<p>@DateTime.Now</p>
